In [1]:
import numpy as np
import pandas as pd

In [2]:
x1 = pd.read_csv("csv/X_Train_act_MtM_2.csv", header=None)
x1 = x1.iloc[1:,1:]
x1

             1
1     0.035151
2     0.033385
3     0.018823
4     0.023901
5     0.011141
...        ...
1996  0.036843
1997  0.011153
1998  0.017443
1999  0.011225
2000  0.013891

[2000 rows x 1 columns]

In [3]:
x2 = pd.read_csv("csv/X_Train_MtM_approx.csv", header=None) 
x2 = x2.iloc[1:,1:]
x2

              1
1      0.017368
2      0.011329
3      0.007454
4      0.020798
5      0.008594
...         ...
11996  0.038296
11997  0.018057
11998  0.028354
11999  0.010858
12000  0.027342

[12000 rows x 1 columns]

In [4]:
x = pd.concat([x2,x1])
x = x.reset_index(drop = True)
x.to_csv("csv/X_Train_MtM_approx_blabla.csv")